<article class="rental">
  <div class="image">
    <img src={{@rental.image}} alt={{@rental.title}} />
  </div>
  <div class="details">
    <h3>
      <LinkTo @route="listings.listing" @model={{@rental.id}}>{{@rental.title}}</LinkTo>
    </h3>
    <div class="detail">
      <span>Owner:</span> {{@rental.owner}}
    </div>
    <div class="detail">
      <span>City:</span> {{@rental.city}}
    </div>
    <div class="detail">
      <span>Bedrooms:</span> {{@rental.bedrooms}}
    </div>
  </div>
</article>
